# Database (Supabase PostgreSQL)
DATABASE_URL="postgres://user:password@host:6543/postgres"

# Strava API
STRAVA_CLIENT_ID=260355
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=https://pbs-buyz.onrender.com/api/strava/callback

# Paystack
PUBLIC_PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=

# Base URL
PUBLIC_BASE_URL=https://pbs-buyz.onrender.com
